.mrgtop{
    margin-top: 50px;
}
.rov{
    border-radius: 5px;
    width: calc(170px * 5);
    height: 500px;
    justify-content: center;
    border: 2px solid rgba(255, 255, 255, 0);
}
.rovsml{
    border-radius: 5px;
    width: 170px;
    height: 120px;
    justify-content: center;
    /* border: 2px solid rgb(225, 225, 225); */
    border: 3px solid rgba(255, 255, 255, 0);
    filter: brightness(0.35);
}
.mod1{

}
.sa1s{
    font-size: 90px;
}

.sa1s:hover{
    cursor: pointer;
    filter: brightness(1.8);
}

.zzz{
    color: aliceblue;
    text-shadow: 3px 5px 4px black;
    font-size: 50px;
    top: 20px;
    right: 38px;
    z-index: 1000;
    text-align: right;
    /* background-color: black; */
}

.zz2{
    color: aliceblue;
    text-shadow: 3px 5px 4px black;

    font-size: 20px;
    width: 60%;
    top: 82px;
    right: 38px;
    z-index: 1000;
    text-align: right;
    /* background-color: black; */
}
.lghty{
    filter: brightness(1);
    border: 3px solid rgb(168, 168, 168);
}

.grn{
    color: cadetblue;
}

#box0{

}
#box1{
}
#box2{
}
#box3{
}
#box4{
}

.reef:hover{
    cursor: pointer;
}